@model ManageShopWeb.Customer

@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>CreateCustomer</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="CreateCustomer">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
               Phone
                <input name="CustomerId"  />
               
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" name="Name" class="form-control"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" name="Address" class="form-control"  />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountBuy" class="control-label"></label>
                <input asp-for="AmountBuy" name="AmountBuy" class="form-control"  />
                <span asp-validation-for="AmountBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

